<button class="grid justify-space-between items-center w-6 h-5 bg-red">
	<span class="block bg-black h-0/5 w-full" />
	<span class="block bg-black h-0/5 w-full" />
	<span class="block bg-black h-0/5 w-full" />
</button>
