<div class="w-full flex flex-col justify-center max-w-xl h-40 bg-blue-pr overflow-hidden rounded-xl relative">
	<div class="pl-4">
		<h3 class="text-sm text-white font-nunito font-400 opacity-75">Total Account Balance</h3>
		<h1 class="text-md text-white font-comfortaa leading-relaxed">$25,567.34</h1>
		<button class="text-xs text-white rounded-lg border-solid border-white border-1 px-3 py-1">Show</button>
	</div>
	<div class="z-index-0 absolute top-0 left-0 w-full h-40 overflow-hidden">
		<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" class="transform scale-80 -translate-y-24 translate-x-40 opacity-50">
			<path
				fill="#D0E2FF"
				d="M20.5,-34.8C31.3,-25.1,47.8,-27.2,56,-21.9C64.3,-16.5,64.3,-3.6,61.2,7.9C58.1,19.4,51.9,29.5,42.2,31.3C32.4,33.1,19.2,26.5,8.5,30.3C-2.2,34,-10.2,48.1,-22.6,54.7C-35.1,61.3,-51.9,60.4,-59.4,51.6C-66.8,42.7,-64.8,25.9,-56.6,14.5C-48.3,3.1,-33.7,-2.8,-27.9,-11.5C-22,-20.2,-24.8,-31.6,-21.6,-44.8C-18.4,-57.9,-9.2,-72.7,-2.2,-69.4C4.9,-66,9.8,-44.5,20.5,-34.8Z"
				transform="translate(100 100)"
			/>
		</svg>

		<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" class="transform scale-150 -translate-y-64 translate-x-16 opacity-25 rotate-45">
			<path
				fill="#D0E2FF"
				d="M20.5,-34.8C31.3,-25.1,47.8,-27.2,56,-21.9C64.3,-16.5,64.3,-3.6,61.2,7.9C58.1,19.4,51.9,29.5,42.2,31.3C32.4,33.1,19.2,26.5,8.5,30.3C-2.2,34,-10.2,48.1,-22.6,54.7C-35.1,61.3,-51.9,60.4,-59.4,51.6C-66.8,42.7,-64.8,25.9,-56.6,14.5C-48.3,3.1,-33.7,-2.8,-27.9,-11.5C-22,-20.2,-24.8,-31.6,-21.6,-44.8C-18.4,-57.9,-9.2,-72.7,-2.2,-69.4C4.9,-66,9.8,-44.5,20.5,-34.8Z"
				transform="translate(100 100)"
			/>
		</svg>
	</div>
</div>
