<div class="md:flex justify-between h-full">
	<div class="h-full bg-blue">
		<Transaction />
	</div>
	<div class="h-full py-6 border-l-2 md:56 lg:w-80 lg:pl-6">
		<IncomeSummary />
	</div>
</div>
{{outlet}}
